<div class="jumbotron mx-auto w-50">
  <div class="mb-4 d-flex align-items-center">
    <input type="text" class="form-control w-50 d-inline-block mr-4" [(ngModel)]="input" (ngModelChange)="filter()"
      placeholder="Search...">
    <div *ngIf="isLoading" class="spinner-border text-dark" role="status">
      <span class="sr-only">Loading...</span>
    </div>

  </div>


  <div>
    <table *ngIf="filteredCategories.length > 0" class="table table-dark table-bordered table-hover">
      <thead>
        <tr>
          <th>Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ctg of filteredCategories">
          <td>{{ctg}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
